
#mubi-rating
{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 90px;
  left: 30px;
  background-color: rgba(255,0,0,0.5);
  opacity:0;
}

#mubi-rating p
{
  font-size: 30px;
  text-align: center;
}